@import 'libs';
@import 'variables';

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

$color-logo: #5BB6F4;

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
    // padding: 0 10px;
    // overflow: visible;
}

.icon {
    display: inline-block;
    &-logo {
        width: 110px;
        fill: $color-logo;
    }
    &-close {
        width: 9px;
        fill: $color-light;
    }
    &-search {
        width: 24px;
        fill: $color-primary;
    }
    &-dropdown {
        width: 12px;
        fill: $color-light;
    }
    &-menu {
        width: 20px;
        fill: #fff;
    }
    &-bell {
        width: 17px;
        fill: $color-light;
    }
    &-calendar {
        width: 62px;
        fill: url(#cpaint0_linear);
    }
    &-email {
        width: 24px;
        fill: #fff;
    }
    &-phone {
        width: 24px;
        fill: #fff;
    }
    &-facebook {
        width: 13px;
        fill: #fff;
    }
    &-vk {
        width: 26px;
        fill: #fff;
    }
    &-insta {
        width: 22px;
        fill: #fff;
    }
    &-twitter {
        width: 18px;
        fill: #fff;
    }
    &-cup {
        width: 22px;
        fill: $color-stats-1;
    }
    &-time {
        width: 22px;
        fill: $color-stats-2;
    }
    &-list {
        width: 22px;
        fill: $color-stats-3;
    }
    &-add {
        width: 20px;
        fill: transparentize(#fff, 0.5);
    }
    &-gender {
        width: 10px;
        fill: #fff;
    }
    &-rating {
        width: 15px;
        fill: $color-rating;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    padding-left: 10px;
    font-size: 16px;
    
    &-left, &-right {
        display: flex;
        align-items: center;
    }

    &__title {
        width: 110px;
        margin-left: 13px;
    }
    &__search {
        form {
            position: relative;
            display: flex;
            align-items: center;
            width: 430px;
            height: 56px;
            input[type=text] {
                width: 100%;
                padding: 20px;
                font-family: 'Montserrat', sans-serif;
                color: $color-light;
                background: $color-background-light;
                border: none;
                border-radius: 50px;
                outline: none;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 15px 23px;
                background: $color-background;
                outline: none;
                border: none;
                border-radius: 0 50px 50px 0;
            }
        }
    }
    &__menu {
        position: relative;
        width: 54px;
        height: 54px;
        margin-left: 30px;
        padding: 0;
        outline: none;
        border: none;
        border-radius: 50%;
        background: $color-primary;
        box-shadow: 0 20px 50px 0px rgba(1,104,255,0.2), 0 20px 20px 0 rgba(0,0,0,0.1);
    }
    &__user {
        display: flex;
        align-items: center;
        margin-left: 30px;
        &-text {
            margin-right: 10px;
            text-align: right;
            &-title {
                font-size: 14px;
                color: $color-light;
            }
        }
        &-profile {
            display: flex;
            align-items: center;
            margin-right: 10px;
            &-img {
                width: 54px;
                height: 54px;
                margin-right: 10px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    max-width: 100px;
                    object-fit: cover;
                    object-position: -15px -2px;
                }
            }
        }
    }
    &__notifications {
        position: relative;
        margin-left: 30px;
        &-indicator {
            position: absolute;
            top: -3px;
            right: -4px;
            width: 12px;
            height: 12px;
            border: 2px solid #fff; 
            border-radius: 50%;
            background: $color-accent;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 80px;
    background: $color-background-light;
    aside {
        &.sidebar-left {
            width: 280px;
            margin-right: 40px;
            padding-left: 10px;
            .user {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin-bottom: 30px;
                &-img {
                    width: 260px;
                    height: 260px;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        max-width: 450px;
                        object-fit: cover;
                        object-position: -65px -5px;
                    }
                }
                &-btn {
                    font-size: 14px;
                    button {
                        padding: 15px 20px;
                        font-family: 'Montserrat', sans-serif;
                        color: #fff;
                        background: $color-secondary;
                        border: none;
                        border-radius: 50px;
                        outline: none;
                        box-shadow: 0 20px 50px 0 #F1D7DB;
                    }
                }
            }

            .menu {
                margin-bottom: 20px;
                ul {
                    margin: 0;
                    padding: 15px 30px;
                    list-style: none;
                    background: $color-background;
                    border-radius: 10px;
                    li {
                        margin: 0;
                        padding: 0;
                        border-bottom: 1px solid $color-menu-border;
                        &:last-child {
                            border: none;
                        }
                        a.menu__item {
                            display: inline-block;
                            padding: 25px 0;
                            text-decoration: none;
                            outline: none;
                            &:link, &:active, &:visited {
                                color: $color-menu-text;
                            }
                            &_active {
                                &:link, &:active, &:visited {
                                    color: $color-primary;
                                }
                            }
                            &_danger {
                                &:link, &:active, &:visited {
                                    color: $color-secondary;
                                }
                            }
                        }
                    }
                }

            }

            .calendar {
                position: relative;
                display: flex;
                align-items: center;
                padding: 22px 30px;
                border-radius: 10px;
                box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05), 
                            0 30px 60px 0px rgba(1,104,255,0.15), 
                            0 0 20px 0 rgba(0,0,0,0.07);
                &__img {
                    margin-right: 18px;
                }
                &__text {
                    // font-weight: 700;
                }
                &__close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
        &.sidebar-right {
            width: 260px;
            margin-left: 40px;

            .verified-contacts {
                position: relative;
                width: 260px;
                margin-bottom: 20px;
                font-size: 14px;

                &__list {
                    margin: 0;
                    padding: 30px;
                    list-style: none;
                    background: $color-background;
                    border-radius: 10px;
                    &-title {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                }
                &__item {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    &-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        margin-right: 15px;
                        border-radius: 50%;
                        &_email {
                            background: $color-primary;
                        }
                        &_phone {
                            background: $color-accent;
                        }
                        &_facebook {
                            background: $color-facebook;
                        }
                    }
                    &-title {
                        // font-weight: 700;
                    }
                    &-contact {
                        color: $color-light;
                    }
                    &_new {
                        margin: 0;
                        padding-top: 10px;
                        padding-bottom: 0;
                        color: $color-light;
                        .verified-contacts__item-img {
                            background: $color-light;
                        }
                        
                    }
                    &:not(.verified-contacts__item_new) + .verified-contacts__item_new {
                        border-top: 1px solid $color-menu-border;
                    }
                    
                }

                &__close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
            .stats {
                &__item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    padding: 35px 20px;
                    border-radius: 10px;
                    font-size: 14px;
                    color: $color-light;

                    &-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        margin-right: 15px;
                        border-radius: 50%;
                        &_cup {
                            background: transparentize($color-stats-1, 0.8);
                        }
                        &_time {
                            background: transparentize($color-stats-2, 0.8);
                        }
                        &_list {
                            background: transparentize($color-stats-3, 0.8);
                        }
                    }
                    &-count {
                        margin-bottom: 5px;
                        font-size: 24px;
                        &_cup {
                            color: $color-stats-1;
                        }
                        &_time {
                            color: $color-stats-2;
                        }
                        &_list {
                            color: $color-stats-3;
                        }
                    }
                    &-text {
                        width: 140px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .about {
            width: 100%;
            margin-bottom: 60px;
            &-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                &__left {
                    h1 {
                        margin: 0;
                        margin-bottom: 13px;
                        padding: 0;
                        font-size: 36px;
                        // font-weight: 700;
                    }
                    .profile-id {
                        font-size: 14px;
                    }
                }
                
            }
            &-btn {
                button {
                    display: flex;
                    align-items: center;
                    padding: 20px 30px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    color: #fff;
                    background: $color-accent;
                    border: none;
                    border-radius: 50px;
                    outline: none;
                    box-shadow: 0 20px 50px 0 #DDF6DA;
                }
                span {
                    margin-left: 10px;
                }
            }
            &-content {
                h3 {
                    margin: 0;
                    margin-bottom: 5px;
                    padding: 0;
                    font-size: 24px;
                    color: $color-light;
                }
                &__gender {
                    display: flex;
                    align-items: center;
                    width: 115px;
                    margin: 10px 0 40px;
                    padding: 5px 15px;
                    font-size: 14px;
                    color: #fff;
                    background: transparentize($color-secondary, 0.6);
                    border-radius: 50px;
                    span {
                        margin-left: 5px;
                    }
                }
                &__text {
                    h4 {
                        margin: 0;
                        margin-bottom: 15px;
                        padding: 0;
                    }
                    p {
                        font-size: 15px;
                        color: transparentize(#000000, 0.3);
                        line-height: 150%;
                    }
                }
            }
        }
        .lessons {
            position: relative;
            flex: 1;
            border-top: 3px solid $color-background;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: -3px;
                left: 0;
                width: 100px;
                height: 3px;
                background: $color-accent;
            }
            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                    margin: 0;
                    padding: 20px 0;
                    font-size: 20px;
                }
                a {
                    &:link, &:active, &:visited {
                        color: $color-primary;
                    }
                }
            }
            &__item {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 150px;
                margin-bottom: 20px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05), 
                            0 30px 60px 0px rgba(1,104,255,0.15), 
                            0 0 20px 0 rgba(0,0,0,0.07);

                &-live {
                    padding: 20px 30px;
                    color: #fff;
                    background: $color-primary;
                    &-indicator {
                        display: flex;
                        margin-bottom: 8px;
                        span {
                            font-size: 22px;
                            text-transform: uppercase;
                            color: $color-live;
                        }
                    }
                    &-img {
                        width: 30px;
                        height: 32px;
                        margin-right: 4px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &-title {
                        font-size: 22px;
                        margin-bottom: 5px;
                    }
                    &-teacher {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        .teacher-avatar {
                            width: 40px;
                            height: 40px;
                            margin-right: 7px;
                            border-radius: 50%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    &-time {
                        display: flex;
                        align-items: center;
                        margin-bottom: 14px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 31px;
                        span {
                            margin-left: 10px;
                        }
                    }
                    .icon-time {
                        width: 30px;
                        fill: $color-live-time;
                    }
                    
                }
                &-btn {
                    display: block;
                    width: 164px;
                    padding: 12px 20px;
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    border: none;
                    outline: none;
                    border-radius: 50px;
                    
                    &_live {
                        color: #000;
                        background: #fff;
                    }
                    &_general {
                        background: $color-primary;
                        box-shadow: 0 20px 50px 0 #C3E2F8;
                    }
                    &_danger {
                        background: $color-secondary;
                        box-shadow: 0 20px 50px 0 #F1D7DB;
                    }
                }
                &-img {
                    width: 120px;
                    overflow: hidden;
                    img {
                        position: relative;
                        top: 0;
                        left: -35px;
                        height: 100%;
                    }
                }
                &-content {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    padding: 16px 30px 16px 23px;
                    &-right {
                        display: flex;
                        align-items: center;
                    }
                    .lessons__item-btn_general {
                        margin-bottom: 10px;
                    }
                    &-left {
                        max-width: 250px;
                    }
                }
                &-teacher {
                    margin-bottom: 23px;
                    .teacher {
                        &-title {
                            margin-bottom: 5px;
                            font-size: 12px;
                            color: $color-light;
                        }
                    }
                }
                &-title {
                    font-size: 18px;
                    font-weight: 700;
                }
                &-day {
                    margin-right: 40px;
                    font-family: 'Roboto', sans-serif;
                    text-align: right;
                }
                &-date {
                    color: $color-primary;
                    margin-bottom: 7px;
                }
                &-time {
                    color: $color-secondary;
                }
                
            }
        }
        .contacts {
            position: relative;
            width: 360px;
            margin-left: 40px;
            border-top: 3px solid $color-background;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: -3px;
                left: 0;
                width: 100px;
                height: 3px;
                background: $color-secondary;
            }
            &-header {
                h2 {
                    margin: 0;
                    padding: 20px 0;
                    font-size: 20px;
                }
            }
            &__item {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 150px;
                margin-bottom: 10px;
                padding: 38px 30px;
                border-radius: 10px;
                &:hover {
                    transition: 0.3s;
                    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05), 
                                0 30px 60px 0px rgba(1,104,255,0.3), 
                                0 0 20px 0 rgba(0,0,0,0.07);
                }
                &-content {
                    max-width: 180px;
                }
                &-img {
                    width: 70px;
                    height: 70px;
                    margin-right: 20px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &-name {
                    margin-bottom: 7px;
                }
                &-subject {
                    font-size: 14px;
                    color: $color-light;
                    margin-bottom: 10px;
                }
                &-link {
                    margin-right: 10px;
                    &:last-child {
                        margin: 0;
                    }
                }
                &-rating {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    &-value {
                        margin-left: 4px;
                        font-size: 14px;
                        color: $color-light;
                    }
                }
            }
        }
    }
    
}

footer {
    background: $color-background-dark;
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0;
        padding-left: 10px;
        font-size: 12px;
        color: transparentize(#fff, 0.4);
        .social {
            display: flex;
            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 33px;
                margin-right: 8px;
                border-radius: 50%;
                text-decoration: none;
                outline: none;
                background: transparentize($color-social, 0.8);
                .icon {
                    position: relative;
                    top: 2px;
                    &-insta, &-twitter, &-vk {
                        width: 18px;
                    }
                    &-facebook {
                        width: 7px;
                    }
                }
            }
        }
    }
}