$color-logo: #5BB6F4;
$color-menu-border: #C8CEE5;
$color-menu-text: #566E94;
$color-facebook: #3B5998;
$color-stats-1: #5A9952;
$color-stats-2: #8C62A7;
$color-stats-3: #FB9D00;
$color-live: #27FFD8;
$color-live-time: #B3DAF5;
$color-rating: #FBD300;

// Main colors
$color-light: #879FC3;
$color-background: #E8EDFF;
$color-background-light: #F6F7FB;
$color-primary: #0284DE;
$color-secondary: #FD4661;
$color-accent: #5ACD49;